<div style="margin: 5px;">
  <h4 style="color: red;text-decoration: underline;"> Kosten  party </h4>

  Kosten bedragen  23 euro per persoon. <br>
Party duurt 2 uur. <br>
Als je met 2 personen komt, betaal je ook 23 euro per persoon maar duurt de party anderhalf uur. <br>
Kinderen tot 12 jaar zijn ook welkom en betalen 15 euro per kind. <br>
Kosten zijn inclusief koffie en thee en een glas bubbelwijn <br>
<br>

kosten van een mode show bij verzorgingshuizen is 300 euro. <br>
Dit is inclusief de ladyspeaker, de modellen, bruidsjurken en reiskosten. <br>
Personeel of vrijwilligers kunnen ook meelopen ook daarvoor worden bruidsjurken verzorgd voor deze prijs. <br>
</div>
<!--<img class="foto-price" src="../../assets/werverhoof.jpg"/>-->
