<div style="margin: 5px;">
  <h4 style="color: red;text-decoration: underline;"> Kosten  party </h4>
  Een party van twee uur kost 18 euro per persoon inclusief koffie, thee en bubbeltjeswijn. <br>

  <h4 style="color: red;text-decoration: underline;"> Kosten huren bruidsjurk </h4>
  Bij <i>bruidsjurken4fun</i> kun je ook een jurk huren. Zo kun je de mooiste jurk op je bruiloft aan, voor een schijntje van de aankoopwaarde. <br>
  Waarom voor veel geld een nieuwe kopen, terwijl je hem daarna niet meer gebruikt. Zonde toch!<br>
  <span style="color:orange"> U kun een overzicht krijgen van de jurken die beschikbaar zijn voor de verhuur. </span><br>
  Huur van een jurk is €90,- voor drie dagen.<br>
  <ol>
    <li>Daags voor de bruiloft haal je hem op.</li>
    <li>Dan de mooiste dag van je leven.</li>
    <li>Dag na de bruiloft breng je hem weer terug.</li>
  </ol>
  <span style="color:orange"> <i>Bruidsjurken4fun</i> rekent een borg van 300 euro.</span>

  <h4 style="color: red;text-decoration: underline;"> Kosten kopen bruidsjurk </h4>
  De meeste jurken zijn te koop voor €300,- Op verzoek kunt u een overzicht krijgen van de jurken die daarvoor beschikbaar zijn.

</div>
<div class="foto-home"></div>
