<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="pageNewNew1 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Compleet feest!!"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="pageNewNew2 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Wat is dat mooi om ook achteraf fotos te hebben van mijn moeder , mijn dochter en ik samen"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="pageNewNew3 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"In het rood kan het ook"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="pageNewNew4 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Met vriendinnen een feestje bouwen"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="pageNewNew5 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Moeder en dochters zo mooi"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="pageNewNew6 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Ultieme uitje voor samen met mijn dochter."</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="pageNewNew7 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Het is ook leuk om achteraf mooie fotos te hebben van jezelf en anderen"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="pageNewNew8 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"In de zevende hemel"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="pageNew1 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Ik voel me net een fotomodel"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="pageNew2 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Zo gezellig samen met mijn nichtjes bij bruidsjurken4fun</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="pageNew3 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Het is voor alle leeftijden leuk, dus ook voor mijn mooie oma!"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="pageNew4 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Feestje voor mij en de hond"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="pageNew5 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Deze Bronzen jurk is mijn favoriet"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page5 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Dit geeft echt het ultieme disney gevoel"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page6 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Deze party was echt de moeite waard om helemaal uit Limburg te komen"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page7 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Het was een geweldig uitje! Er waren superveel buidsjurken die we allemaal aan konden trekken"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page8 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Bij bruidsjurken4fun is voor iedereen wat wils ook dus voor de kids ( behalve dan voor de mannen/jongens natuurlijk)"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page9 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Bruidsjurken4fun is echt feest!!"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page10 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Wat zijn we een mooie familie hier"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page13 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Het was een geweldige vrijgezellenparty!"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page14 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Je moet er soms wel wat voor doen"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page15 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Wat zijn er veel soorten en maten jurken! Iedereen heeft er wel een paar aan gehad die hij paste en mooi vond"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page16 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Het was niet alleen mooi, maar ook erg gezellig met bubbeltjeswijn"</i>
    </div>
  </div>
</div>
