<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page2 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Zo leuk! Nooit getrouwd geweest en dan op je 55ste een bruidsjurk aan"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page3 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Deze zou ik wel willen meenemen om heel chique te gaan stappen"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page4 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"We mochten zoveel selfies maken als dat we wilden en die konden we gelijk aan de wereld laten zien"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page5 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Dit geeft echt het ultieme disney gevoel"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page6 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Deze party was echt de moeite waard om helemaal uit Limburg te komen"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page7 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Het was een geweldig uitje! Er waren superveel buidsjurken die we allemaal aan konden trekken"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page8 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Bij bruidsjurken4fun is voor iedereen wat wils ook dus voor de kids ( behalve dan voor de mannen/jongens natuurlijk)"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page9 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Bruidsjurken4fun is echt feest!!"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page10 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Wat zijn we een mooie familie hier"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page11 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Voordat ik met mijn moeder en schoonmoeder naar de bruidswinkel ging voor mijn bruidsjurk, ben ik eerst lekker gaan passen met mijn vriendinnen. Was zo leuk"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page12 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Ik wilde wel een mooie jurk maar er niet veel geld aan uitgeven, dus huurde ik er een"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page13 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Het was een geweldige vrijgezellenparty!"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page14 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Je moet er soms wel wat voor doen"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page15 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Wat zijn er veel soorten en maten jurken! Iedereen heeft er wel een paar aan gehad die hij paste en mooi vond"</i>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp">
    <div class="page16 mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <i>"Het was niet alleen mooi, maar ook erg gezellig met bubbeltjeswijn"</i>
    </div>
  </div>
</div>
