<div style="margin: 5px;">
  <div style="border: solid 1px red; border-radius: 25px; padding: 20px">
    <p style="color: red">Corona update:</p>
    In verband met corona is het momenteel niet mogelijk om bruidsjurken te komen passen. <br>
    De bruisjurken4fun feesten gaan, als je maatregels het toelaten, vanaf Mei weer beginnen. <br>
    U kunt wel alvast een boeking doen voor Mei over later. <br>
    Als u een boeking heeft geplaatst houden we u via email op te hoogte van de huidige maatregels. <br><br>
    Mooie groet Clavia
  </div> <br>

  Het is zo leuk om een jurk aan te hebben, zonder dat je erin gaat trouwen of dat je er een gaat kopen. <br>
  Het is gewoon voor de lol, als leuk uitje bedoeld voor vrouwen onder elkaar. <br>
  <br>
  <i>Bruidsjurken4fun</i> heeft meer dan 130 jurken in allerlei modellen en maten. <br>
  Door deze uitgebreide collectie is er voor iedereen wel een jurk die zij mooi vindt en die past. <br>
  Beschikbare merken: Maggie Sotero,  La Piethe,  Bridal,  Sincerity, Linnea Raffaelli,  Alexander Axu, e.a. <br>
<br>
  Met een mooie groet,<br>
  <br>
  Clavia <br>
  <br>

<div style="position: relative;width: 100%;top: 15%;display: flex">
  <i class="material-icons">email</i>
  <span style="position: relative; left: 10px">
      info@bruidsjurken4fun.nl
  </span>
</div>
  <div style="position: relative;width: 100%;top: 10%;display: flex">
    <i class="material-icons">location_on</i>
    <span style="position: relative; left: 10px">
      Zuidoostbeemster
  </span>
  </div>
</div>
<div class="foto-home"></div>
