<div style="margin: 5px;">
  Het is zo leuk om een jurk aan te hebben, zonder dat je erin gaat trouwen of dat je er een gaat kopen. <br>
  Het is gewoon voor de lol, als leuk uitje bedoeld voor vrouwen onder elkaar. <br>
  <br>
  <i>Bruidsjurken4fun</i> heeft ongeveer 70 jurken in allerlei maten. <br>
  Door deze uitgebreide collectie zit er voor iedereen wel een model bij wat zij mooi vindt. <br>
  Merken: Koonings, linea Raffeli, La Piethe, Ronald Joyce, Sincerity Bridal, e.a. <br>
<br>
  Met een mooie groet,<br>
  <br>
  Clavia <br>
  <br>

<div style="position: relative;width: 100%;top: 15%;display: flex">
  <i class="material-icons">email</i>
  <span style="position: relative; left: 10px">
      info@bruidsjurken4fun.nl
  </span>
</div>
<div style="position: relative;width: 100%;top: 10%;display: flex">
  <i class="material-icons">call</i>
  <span style="position: relative; left: 10px">
      06-53556435
  </span>
</div>
  <div style="position: relative;width: 100%;top: 10%;display: flex">
    <i class="material-icons">location_on</i>
    <span style="position: relative; left: 10px">
      Zuidoostbeemster
  </span>
  </div>
</div>
<div class="foto-home"></div>
