<div style="margin: 5px;">
  <h5 style="color: red"> Het mooiste uitje! </h5>

  Vaak mag en kan je alleen een bruidsjurk passen als je gaat trouwen. Maar nu niet meer!<br>

  Bij <i itemprop="name" >bruidsjurken4fun</i> kun je samen met een stel meiden, dames, vrouwen, zussen of vriendinnen lekker bruidsjurken passen voor de lol. <br>

  <i itemprop="name" >Bruidsjurken4fun</i> is voor vrijgezellen party's ook ideaal.<br>

  Een bruidsjurken party duurt ongeveer twee uur en is inclusief koffie, thee en feestelijke bubbeltjeswijn.<br>
</div>
<div class="foto-home">
  <slideshow
             [minHeight]="'525px'"
             [autoPlay]="true"
             [showArrows]="false"
             [imageUrls]="imageSources"
             [lazyLoad]="imageSources?.length > 1"
             [autoPlayWaitForLazyLoad]="true"
             [backgroundPosition]="'top center'">
  </slideshow>
</div>
<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
<meta itemprop="addressLocality" content="ZuidoostBeemster">
<meta itemprop="addressRegion" content="Noord-Holland">
<meta itemprop="addressCountry" content="Nederland"></span>
<meta itemprop="url" content="http://www.bruidsjurken4fun.nl/">
<meta itemprop="telephone" content="">
<meta itemprop="email" content="info@bruidsjurken4fun.nl">
<meta itemprop="priceRange" content="€ 18">
