<div style="margin: 5px;">
  <h5 style="color: red"> Het mooiste uitje! </h5>

  Vaak mag en kan je alleen een bruidsjurk passen als je gaat trouwen. Maar nu niet meer!<br>
  Bij <i itemprop="name" >bruidsjurken4fun</i> kun je samen met vriendinnen, zussen, collega’s, moeder, oma of voor een vrijgezellenparty  bruidsjurken passen voor de lol.<br><br>

  Een bruidsjurken party duurt ongeveer twee uur en is inclusief koffie, thee en feestelijke bubbeltjeswijn. En is zo leuk.
</div>
<div class="foto-home">
  <slideshow
             [minHeight]="'525px'"
             [autoPlay]="true"
             [showArrows]="false"
             [imageUrls]="imageSources"
             [backgroundPosition]="'top center'">
  </slideshow>
</div>
<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
<meta itemprop="addressLocality" content="ZuidoostBeemster">
<meta itemprop="addressRegion" content="Noord-Holland">
<meta itemprop="addressCountry" content="Nederland"></span>
<meta itemprop="url" content="http://www.bruidsjurken4fun.nl/">
<meta itemprop="telephone" content="">
<meta itemprop="email" content="info@bruidsjurken4fun.nl">
<meta itemprop="priceRange" content="€ 18">
